<!DOCTYPE html>
<html xml:lang="fr" lang="fr">
    <head>
		<meta charset="utf-8" />
		<meta  http-equiv="Content-Type" name="description" content="Latta & Co. - Ak1:" />
        <title>Latta & Co. - Ak1 : Progiciel de Gestion Intégrée</title>
		<link rel="stylesheet" type="text/css" href="Views/Styles/css/index.css" />
		<link rel="shortcut icon" type="image/x-icon" href="Views/Styles/img/sys/rac.ico" />
        <link rel="icon" type="image/ico" href="Views/Styles/img/sys/rac.ico" />
    </head>
    <body>

        <br /><br />
   
        <table class="Table1" align="center" cellpadding="0" cellspacing="0">
            <tr>
                <td width="50" rowspan="6"><img src="Views/Styles/img/sys/warning.png" width="50" height="50"></td>
                <td width="700">&nbsp;</td>
                <td width="50" rowspan="6"><img src="Views/Styles/img/sys/warning.png" width="50" height="50"></td>
            </tr>
            <tr>
                <td align="center" class="info">Bienvenu sur <b>Ak1</b> de <strong>Latta &amp; Co.</strong></td>
            </tr>
            <tr>
                <td align="center" class="info">Si vous lisez ces lignes, cela signifie que <b>Ak1</b> n´est pas installé sur vos serveurs</td>
            </tr>
            <tr>
                <td align="center" class="info">Veuillez contacter le <strong>Consultant</strong> au num&eacute;ro +228 93 40 05 16 / +228 99 45 62 83.</td>
            </tr>
            <tr>
                <td align="center" class="info">Ou, pour installer et configurer <b>Ak1</b>, <a href="Controllers/Setup/installerApp.php">cliquez ici</a> ...</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
        </table>
    </body>
</html>